/* PC */

.menu-responsive {
  display: none;
}

.header * {
  user-select: none;
}

.header {
  width: 100vw;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 60px;
  z-index: 10;
  border-bottom-right-radius: 100%;
}

.active {
  color: #404040 !important;
  font-weight: bold;
}

.navlink-pc {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: relative;
  color: #7a7a7a;
  transition: all 0.1s ease-in-out;
}

.navlink-pc:hover {
  color: #000;
}

.navlink-pc::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #e4e4e4;
  transition: height 0.1s;
  z-index: -1;
}

@keyframes borderradiusbottom {
  0% {
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
  }
  100% {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.navlink-pc:hover::after {
  height: 90%;
  transition: height 0.2s;
  z-index: -1;
  animation: borderradiusbottom 0.1s ease-in-out alternate;
}

.navlink-pc-img {
  margin-right: 10px;
}

.nav-img {
  width: auto;
  height: 52px;
  object-fit: cover;
  margin-top: 4px;
  filter: invert(0.4);
  transition: 0.05s;
}
.nav-img:hover {
  filter: invert(0);
  scale: 1.03;
}

.navul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30vw;
  font-size: 1.2rem;
}

/* Mobile and Tablet */

@media screen and (max-width: 1024px) {
  
  .navbar {
    display: none;
  }

  .opening {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding-bottom: 25px;
    font-size: 2.9rem;
    transform: rotate(90deg);
    cursor: pointer;
    position: absolute;
    top: 2vh;
    right: 2vw;
    transition: all 0.2s ease-in-out;
    content: none;
    user-select: none;
    color: rgba(255, 255, 255, 0.836);
  }

  .opening:hover {
    scale: 1.05;
    box-shadow: 0 0 50px 0 rgba(210, 253, 255, 0.925);
    background-color: #0000000e;
    backdrop-filter: blur(2px);
    transform: rotate(0deg);
    color: white;
  }

  .opening:active {
    scale: .8;
  }

  .menu-responsive {
    display: flex;
  }

  .logo-menu {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-top: 0;
    filter: invert(0.6);
  }

  .logo-menu:hover {
    scale: none;
    filter: invert(0.8);
  }

  .active:hover {
    color: #fff !important;
  }

  .image-menu {
    width: 30%;
    height: 0;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .menu-ouvrant {
    display: none;

    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: -49vw;
    top: 0;
    background-color: rgba(1, 31, 68, 0.671);
    backdrop-filter: blur(5px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100vh;
    width: 70vw;
    max-width: 400px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  }

  @keyframes rtol {
    0% {
      right: -49vw;
    }
    100% {
      right: 0;
    }
  }

  @keyframes ltor {
    0% {
      right: 0;
    }
    100% {
      right: -70vw;
    }
  }

  .premier {
    display: flex;
    height: 90%;
    width: 70vw;
    max-width: 400px;
  }

  .liste-onglets {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
    margin-top: 10%;
    padding: 0 9px;
  }

  .liste-onglets li {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active {
    color: #fcfcfc !important;
    font-weight: bold;
  }

  .menu-texte {
    color: rgb(228, 228, 228);
    text-align: start;
    font-size: 2rem;
    padding: 25px 20px;
    border-radius: 20px;
    width: 100%;
    transition: all 0.1s ease-in-out !important;
  }

  .menu-texte:hover,
  .menu-texte:active {
    color: #e4e4e4;
    transition: all 0.1s ease-in-out !important;
    background-color: #7adce01e;
  }

  .sec-int {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .second {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    width: 60%;
    margin-right: 5%;
  }

  .reseaux {
    height: 50px;
    width: 50px;
    object-fit: cover;
    filter: invert(0.7);
  }

  .github {
    height: 48px;
    width: 48px;
  }

  .github:hover {
    filter: invert(.9)
  }

  .twitter:hover {
    filter: invert(.9)
  }

  .linkedin:hover {
    filter: invert(.9)
  }
}
